@import "../../../styles/partials/variables";
@import "../../../styles/partials/fonts";

.phishing-game {
  background-color: $primary4;
  padding: $pad-l;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba($neutral, 0.2);
  text-align: center;

  h2 {
    color: $primary2;
    margin-bottom: $pad-s;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: $pad-s;
    color: $secondary2;
  }

  .email-container {
    background-color: $secondary4;
    padding: $pad-m;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba($neutral, 0.1);
    margin: $pad-s 0;

    h3 {
      color: $primary3;
      margin-bottom: $pad-s;
      font-weight: 600;
    }
  }

  .button-group {
    display: flex;
    justify-content: space-around;
    margin-top: $pad-s;

    button {
      padding: 12px 24px;
      background-color: $primary2;
      color: $primary4;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s, transform 0.2s;

      &:hover {
        background-color: $secondary3;
        transform: scale(1.05);
      }

      &:active {
        background-color: $secondary4;
      }
    }
  }

  .feedback {
    margin-top: $pad-m;
    font-style: italic;
    color: $secondary6;
  }

  .score {
    margin-top: $pad-m;
    font-weight: bold;
    color: $primary3;
  }

  .intro-dialog {
    padding: $pad-m;
    border-radius: 10px;
    background-color: $secondary4;
    box-shadow: 0 4px 8px rgba($neutral, 0.2);

    button {
      margin-top: $pad-s;
      background-color: $secondary5;
      color: $primary4;
    }
  }
}
