@import '../../../styles/partials/variables';
@import '../../../styles/partials/fonts';

.password-rules {
  padding: $pad-l;
  background: linear-gradient(135deg, $primary2, $secondary6);
  border-radius: 15px;
  text-align: center;

  .mentor-dialog {
    background-color: rgba($secondary5, 0.9);
    color: $primary4;
    padding: $pad-m;
    border-radius: 10px;
    margin-bottom: $pad-m;
    animation: fadeIn 0.5s ease-in-out;
    box-shadow: 0 2px 8px rgba($neutral, 0.2);

    p {
      font-size: 1.2rem;
      margin-bottom: $pad-s;
    }

    button {
      background-color: $primary2;
      color: $primary4;
      border: none;
      border-radius: 5px;
      padding: 8px 12px;
      cursor: pointer;

      &:hover {
        background-color: $secondary3;
      }
    }
  }

  .rules-list {
    list-style-type: none;
    padding: 0;
    margin: $pad-m 0;
    display: flex;
    flex-direction: column;
    gap: $pad-s;

    li {
      display: flex;
      align-items: center;
      gap: 10px;
      background-color: rgba($primary4, 0.2);
      padding: 12px;
      border-radius: 10px;
      color: $primary4;
    }
  }
}
